In [1]:
# This notebook is to obtain the summary stats of different 
# customer profile variables created in the previous notebook

In [2]:
# Content List
#
# 01. Importing libraries and data
# 02. Preparing a subset dataframe for unique users
# 03. Conducting descriptive statistics at customer profile level
# 03.01. Summarizing stats: age-income profile
# 03.02. Summarizing stats: age family profile
# 03.03. Summarizing stats: alcohol consumers by age profile
# 03.04. Summarizing stats: user household and pet ownership profile
# 03.05. Summarizing stats: customer buying power profile
# 03.06. Summarizing stats: customer preferred shopping time profile
# 03.07. Summarizing stats: loyalty status profile
# 03.08. Summarizing stats: customer region profile

# 01. Importing libraries and data

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
# Defining the default path for accessing files

path = r'/Users/bladael/Documents/Learning/CareerFoundry_DA/Data Immersion/Achievement 4/06-2023 Instacart Basket Analysis'

In [5]:
# Import data

ords_prods_all = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

In [6]:
# Check the shape of the loaded dataframe

ords_prods_all.shape

(30964518, 45)

In [7]:
# Change the pandas display option to view the full list of columns

pd.options.display.max_columns = None

In [8]:
# Check the head of the loaded dataframe

ords_prods_all.head()

,order_id,user_id,order_sequence_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_Days,busiest_period_of_day,max_order,loyalty_flag,total_ord_spend,total_ord_count,avg_ord_spend,spending_flag,median_frequency,frequency_flag,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Region,customer_activity,age_bucket,income_bucket,Age_income_level,Age_fam_status,Age_alcohol_level,Pet_flag,household,Pet_household,buying_power,order_time,user_preferred_shop_time
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Normal day,Average orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday morning,Weekday morning shopper
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest day,Average orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday morning,Weekday morning shopper
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest day,Most orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday afternoon,Weekday morning shopper
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest day,Average orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday morning,Weekday morning shopper
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest day,Most orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday afternoon,Weekday morning shopper

# 02. Preparing a subset dataframe for unique users

CP: Given that the current master dataframe contains itemized details for each order where the same order number and user_id may be repeated more than once in the dataframe. For summarizing customer profiles, it may be more beneficial to have a dataset only containing the list of unique users. Thus, creating a separate dataframe only containing the unique list of users, without the order id, product, department, price details.

In [9]:
# Create a duplicate dataframe for unique users to preserve the master dataframe

users_unique = ords_prods_all

In [10]:
# Check the shape of the duplicate dataframe

users_unique.shape

(30964518, 45)

In [11]:
# Check the dataframe head

users_unique.head()

,order_id,user_id,order_sequence_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_Days,busiest_period_of_day,max_order,loyalty_flag,total_ord_spend,total_ord_count,avg_ord_spend,spending_flag,median_frequency,frequency_flag,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Region,customer_activity,age_bucket,income_bucket,Age_income_level,Age_fam_status,Age_alcohol_level,Pet_flag,household,Pet_household,buying_power,order_time,user_preferred_shop_time
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Normal day,Average orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday morning,Weekday morning shopper
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest day,Average orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday morning,Weekday morning shopper
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest day,Most orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday afternoon,Weekday morning shopper
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest day,Average orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday morning,Weekday morning shopper
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest day,Most orders,10,New customer,375.7,10,37.57,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday afternoon,Weekday morning shopper

In [12]:
# Deleting the columns that are not related to customer-level profiles, then remove the duplicate rows

users_unique = users_unique.drop(columns = ['order_id', 'order_sequence_number', 'order_days_of_week', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'reordered', 'product_name', 'aisle_id', 'department_id', 'prices', 'price_range_loc', 'busiest_day', 'Busiest_Days', 'busiest_period_of_day', 'order_time']).drop_duplicates()

In [13]:
# Check the shape of the subset of unique users

users_unique.shape

(162627, 28)

In [14]:
# Compare the count of unique user ids from the master dataframe to see whether it matches the total rows above

ords_prods_all['user_id'].nunique(dropna = False)

162627

# 03. Conducting descriptive statistics at customer profile level

## 03.01. Summarizing stats: age-income profile

In [15]:
# Review the head to select the appropriate field for the calculation

users_unique.head()

,user_id,max_order,loyalty_flag,total_ord_spend,total_ord_count,avg_ord_spend,spending_flag,median_frequency,frequency_flag,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Region,customer_activity,age_bucket,income_bucket,Age_income_level,Age_fam_status,Age_alcohol_level,Pet_flag,household,Pet_household,buying_power,user_preferred_shop_time
0,1,10,New customer,375.7,10,37.570000,High spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with multiple kids,Weekday morning shopper
59,15,22,Regular customer,286.6,22,13.027273,High spender,8.0,Frequent customer,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest,Regular-activity,Senior,Low income,Senior Low income,Senior divorced/widowed,Senior Non-alcohol consumer,Non-pet owner,Single-member family,Single-member family Non-pet owner,Single income with no kids,Weekday afternoon shopper
131,19,9,New customer,1707.9,9,189.766667,High spender,6.0,Frequent customer,Female,Louisiana,62,2/3/2017,1,married,151988,South,Regular-activity,Middle-aged,High income,Middle-aged High income,Middle-aged married,Middle-aged Non-alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with single kid,Weekday afternoon shopper
335,21,33,Regular customer,1437.6,33,43.563636,High spender,7.0,Frequent customer,Male,Montana,71,6/18/2019,0,divorced/widowed,124643,West,Regular-activity,Senior,Middle income,Senior Middle income,Senior divorced/widowed,Senior Alcohol consumer,Non-pet owner,Single-member family,Single-member family Non-pet owner,Single income with no kids,Weekend afternoon shopper
540,31,20,Regular customer,2433.2,20,121.660000,High spender,6.0,Frequent customer,Female,Oklahoma,38,1/22/2019,1,married,52311,South,Regular-activity,Middle-aged,Low income,Middle-aged Low income,Middle-aged married,Middle-aged Alcohol consumer,Non-pet owner,Multi-member family,Multi-member family Non-pet owner,Dual income with single kid,Weekday afternoon shopper

In [16]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_ai = users_unique.groupby('Age_income_level').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_ai = users_unique.groupby('Age_income_level').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure max, mean, and min values by age-income group")
print(exp_summ_ai)
print("")
print("Customer counts and their order frequency max, mean, and min values by age-income group")
print(frq_summ_ai)

Customer counts and their order expenditure max, mean, and min values by age-income group
                          total_ord_spend
                                    count      max         mean    min
Age_income_level
Middle-aged High income             16493  17847.3  1628.438192   44.6
Middle-aged Low income              18256  24307.1   963.396040    5.0
Middle-aged Middle income           59097  22696.9  1602.264888   15.7
Senior High income                   8561  17435.6  1604.112265   39.5
Senior Low income                    5376  18138.2   840.070908    6.8
Senior Middle income                21839  26394.9  1591.763895   13.0
Young adult High income               230  11680.4  2097.828261  107.1
Young adult Low income              10033  18436.9  1180.959653   10.0
Young adult Middle income           22742  18883.2  1614.482763   41.2

Customer counts and their order frequency max, mean, and min values by age-income group
                          total_ord_count
                                    count max       mean min
Age_income_level
Middle-aged High income             16493  99  19.374826   5
Middle-aged Low income              18256  99  17.210670   5
Middle-aged Middle income           59097  99  19.199756   5
Senior High income                   8561  99  19.202430   5
Senior Low income                    5376  99  17.368118   5
Senior Middle income                21839  99  19.140986   5
Young adult High income               230  99  24.360870   5
Young adult Low income              10033  99  17.735473   5
Young adult Middle income           22742  99  19.199719   5

In [17]:
# Export results

exp_summ_ai.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'exp_summ_age_income.csv'))
frq_summ_ai.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'frq_summ_age_income.csv'))

## 03.02. Summarizing stats: age family profile

In [18]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_af = users_unique.groupby('Age_fam_status').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_af = users_unique.groupby('Age_fam_status').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure max, mean, and min values by age-family status group")
print(exp_summ_af)
print("")
print("Customer counts and their order frequency max, mean, and min values by age-family status group")
print(frq_summ_af)

Customer counts and their order expenditure max, mean, and min values by age-family status group
                                             total_ord_spend           \
                                                       count      max
Age_fam_status
Middle-aged divorced/widowed                            5007  24307.1
Middle-aged married                                    70307  22696.9
Middle-aged single                                     18532  20315.1
Senior divorced/widowed                                 8824  17519.6
Senior married                                         26952  26394.9
Young adult living with parents and siblings            7608  16048.1
Young adult married                                    17035  18436.9
Young adult single                                      8362  18883.2


                                                     mean   min
Age_fam_status
Middle-aged divorced/widowed                  1512.071400  15.7
Middle-aged married                           1481.274303   7.0
Middle-aged single                            1479.589003   5.0
Senior divorced/widowed                       1480.215549  16.1
Senior married                                1482.269813   6.8
Young adult living with parents and siblings  1518.471491  14.4
Young adult married                           1483.299665  10.0
Young adult single                            1462.221335  10.5

Customer counts and their order frequency max, mean, and min values by age-family status group
                                             total_ord_count                 \
                                                       count max       mean
Age_fam_status
Middle-aged divorced/widowed                            5007  99  19.044737
Middle-aged married                                    70307  99  18.801769
Middle-aged single                                     18532  99  18.947874
Senior divorced/widowed                                 8824  99  18.809157
Senior married                                         26952  99  18.915516
Young adult living with parents and siblings            7608  99  19.108438
Young adult married                                    17035  99  18.757323
Young adult single                                      8362  99  18.569122


                                             min
Age_fam_status
Middle-aged divorced/widowed                   5
Middle-aged married                            5
Middle-aged single                             5
Senior divorced/widowed                        5
Senior married                                 5
Young adult living with parents and siblings   5
Young adult married                            5
Young adult single                             5

In [19]:
# Export results

exp_summ_af.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'exp_summ_age_family_status.csv'))
frq_summ_af.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'frq_summ_age_family_status.csv'))

## 03.03. Summarizing stats: alcohol consumers by age profile

In [20]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_aa = users_unique.groupby('Age_alcohol_level').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_aa = users_unique.groupby('Age_alcohol_level').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure max, mean, and min values by age-alcohol consumption group")
print(exp_summ_aa)
print("")
print("Customer counts and their order frequency max, mean, and min values by age-alcohol consumption group")
print(frq_summ_aa)

Customer counts and their order expenditure max, mean, and min values by age-alcohol consumption group
                                 total_ord_spend
                                           count      max         mean   min
Age_alcohol_level
Middle-aged Alcohol consumer                7624  17017.2  1375.820396  24.4
Middle-aged Non-alcohol consumer           86222  24307.1  1492.025035   5.0
Senior Alcohol consumer                     2869  18138.2  1363.359533  15.6
Senior Non-alcohol consumer                32907  26394.9  1492.086167   6.8
Young adult Alcohol consumer                2657  12226.6  1398.066692  22.6
Young adult Non-alcohol consumer           30348  18883.2  1493.771336  10.0

Customer counts and their order frequency max, mean, and min values by age-alcohol consumption group
                                 total_ord_count
                                           count max       mean min
Age_alcohol_level
Middle-aged Alcohol consumer                7624  99  18.476522   5
Middle-aged Non-alcohol consumer           86222  99  18.876041   5
Senior Alcohol consumer                     2869  99  18.520739   5
Senior Non-alcohol consumer                32907  99  18.921415   5
Young adult Alcohol consumer                2657  99  18.949944   5
Young adult Non-alcohol consumer           30348  99  18.776624   5

In [21]:
# Export results

exp_summ_aa.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'exp_summ_age_alcohol.csv'))
frq_summ_aa.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'frq_summ_age_alcohol.csv'))

## 03.04. Summarizing stats: user household and pet ownership profile

In [22]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_ph = users_unique.groupby('Pet_household').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_ph = users_unique.groupby('Pet_household').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure max, mean, and min values by user household and pet ownership group")
print(exp_summ_ph)
print("")
print("Customer counts and their order frequency max, mean, and min values by user household and pet ownership group")
print(frq_summ_ph)

Customer counts and their order expenditure max, mean, and min values by user household and pet ownership group
                                   total_ord_spend
                                             count      max         mean   min
Pet_household
Multi-member family Non-pet owner           111995  26394.9  1434.862051   6.8
Multi-member family Pet owner                 9907  17430.5  2040.703937  24.9
Single-member family Non-pet owner           37457  24307.1  1429.450041   5.0
Single-member family Pet owner                3268  16484.3  2061.288709  58.1

Customer counts and their order frequency max, mean, and min values by user household and pet ownership group
                                   total_ord_count
                                             count max       mean min
Pet_household
Multi-member family Non-pet owner           111995  99  18.506540   5
Multi-member family Pet owner                 9907  99  22.607752   5
Single-member family Non-pet owner           37457  99  18.510078   5
Single-member family Pet owner                3268  99  22.770502   5

In [23]:
# Export results

exp_summ_ph.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'exp_summ_pet_household.csv'))
frq_summ_ph.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'frq_summ_pet_household.csv'))

## 03.05. Summarizing stats: customer buying power profile

In [24]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_bp = users_unique.groupby('buying_power').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_bp = users_unique.groupby('buying_power').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure max, mean, and min values by user buying power group")
print(exp_summ_bp)
print("")
print("Customer counts and their order frequency max, mean, and min values by user buying power group")
print(frq_summ_bp)

Customer counts and their order expenditure max, mean, and min values by user buying power group
                               total_ord_spend
                                         count      max         mean   min
buying_power
Dependant of someone                      7608  16048.1  1518.471491  14.4
Dual income with multiple kids           76160  26394.9  1485.770180   7.0
Dual income with single kid              38134  22696.9  1473.903637   6.8
Single income with no kids               40725  24307.1  1480.152282   5.0

Customer counts and their order frequency max, mean, and min values by user buying power group
                               total_ord_count
                                         count max       mean min
buying_power
Dependant of someone                      7608  99  19.108438   5
Dual income with multiple kids           76160  99  18.863577   5
Dual income with single kid              38134  99  18.738868   5
Single income with no kids               40725  99  18.851958   5

In [25]:
# Export results

exp_summ_bp.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'exp_summ_buying_power.csv'))
frq_summ_bp.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'frq_summ_buying_power.csv'))

## 03.06. Summarizing stats: customer preferred shopping time profile

In [26]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_pt = users_unique.groupby('user_preferred_shop_time').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_pt = users_unique.groupby('user_preferred_shop_time').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure max, mean, and min values by user preferred shopping time group")
print(exp_summ_pt)
print("")
print("Customer counts and their order frequency max, mean, and min values by user preferred shopping time group")
print(frq_summ_pt)

Customer counts and their order expenditure max, mean, and min values by user preferred shopping time group
                          total_ord_spend
                                    count      max         mean   min
user_preferred_shop_time
Weekday afternoon shopper           60112  26394.9  1583.904959   6.8
Weekday evening shopper             27005  17519.6  1310.335575   5.0
Weekday morning shopper             25697  21509.2  1607.803654   7.0
Weekday night shopper                8290  17696.0  1415.328975  12.5
Weekend afternoon shopper           22094  22595.5  1436.898239  22.2
Weekend evening shopper              7995  14378.5  1077.140801  19.8
Weekend morning shopper              9025  16957.6  1573.002770  11.4
Weekend night shopper                2409  20122.6  1242.339477  16.4

Customer counts and their order frequency max, mean, and min values by user preferred shopping time group
                          total_ord_count
                                    count max       mean min
user_preferred_shop_time
Weekday afternoon shopper           60112  99  20.649022   5
Weekday evening shopper             27005  99  17.697908   5
Weekday morning shopper             25697  99  21.350469   5
Weekday night shopper                8290  99  17.438842   5
Weekend afternoon shopper           22094  99  15.963610   5
Weekend evening shopper              7995  99  12.823014   5
Weekend morning shopper              9025  99  18.078670   5
Weekend night shopper                2409  99  13.941054   5

In [27]:
# Export results

exp_summ_pt.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'exp_summ_preferred_time.csv'))
frq_summ_pt.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'frq_summ_preferred_time.csv'))

## 03.07. Summarizing stats: loyalty status profile

In [28]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_loyalty = users_unique.groupby('loyalty_flag').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_loyalty = users_unique.groupby('loyalty_flag').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure max, mean, and min values by user loyalty status group")
print(exp_summ_loyalty)
print("")
print("Customer counts and their order frequency max, mean, and min values by user loyalty status group")
print(frq_summ_loyalty)

Customer counts and their order expenditure max, mean, and min values by user loyalty status group
                 total_ord_spend
                           count      max         mean    min
loyalty_flag
Loyal customer             17017  26394.9  4697.292425  156.0
New customer               68746   3920.4   545.041160    5.0
Regular customer           76864  12186.6  1610.514756   15.7

Customer counts and their order frequency max, mean, and min values by user loyalty status group
                 total_ord_count
                           count max       mean min
loyalty_flag
Loyal customer             17017  99  60.205500  39
New customer               68746  10   7.080034   5
Regular customer           76864  40  20.206078   8

In [29]:
# Export results

exp_summ_loyalty.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'exp_summ_loyalty_status.csv'))
frq_summ_loyalty.to_csv(os.path.join(path, '04 Analysis', 'Reports', 'frq_summ_loyalty_status.csv'))

## 03.08. Summarizing stats: customer region profile

In [30]:
# Define objects for expenditure and frequency summaries by using groupby function with aggregation
# Then print the results on the screen

exp_summ_region = users_unique.groupby('Region').agg({'total_ord_spend': ['count', 'max', 'mean', 'min']})
frq_summ_region = users_unique.groupby('Region').agg({'total_ord_count': ['count', 'max', 'mean', 'min']})
    
print("Customer counts and their order expenditure mean, and min values by user region")
print(exp_summ_region)
print("")
print("Customer counts and their order frequency mean, and min values by user region")
print(frq_summ_region)

Customer counts and their order expenditure mean, and min values by user region
          total_ord_spend
                    count      max         mean  min
Region
Midwest             38375  26394.9  1474.254707  7.0
Northeast           28580  22777.9  1487.641211  7.7
South               54191  24307.1  1482.831003  6.8
West                41481  18910.0  1488.547188  5.0

Customer counts and their order frequency mean, and min values by user region
          total_ord_count
                    count max       mean min
Region
Midwest             38375  99  18.743661   5
Northeast           28580  99  18.901155   5
South               54191  99  18.847650   5
West                41481  99  18.888286   5